.content {
    z-index: -5px;
}

.cart {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: rgba(241, 241, 241, 0.406);
    box-shadow: 0 0px 10px 3px #222;
}