@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}
.mhead{
    display: flex;
}
.content{
    height: 11vh;
    width: 4.5%;
    background-color: rgb(255, 255, 148);
    background-color: rgb(255, 234, 0);
}
.mheader{
    height: 11vh;
    width: 96.5%;
    background-color: rgb(255, 234, 0);
    /* background-color: rgb(255, 255, 148); */
    
    display: flex;
    align-items: center;
}


.home {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: rgba(241, 241, 241, 0.406);
    box-shadow: 0 0px 10px 3px #222;
}

.mbody{
    display: flex;
}

.catg{
    height: 97.3vh;
    
    width: 17%;
    background-color: rgb(247, 250, 207);
    display: flex;
    flex-direction: column;
}
.sepl2{
    height: 97.3vh;
    width:7.5px;
    background-color: #222;
}
.sepl1{
    height: 97.3vh;
    width:7.5px;
    background-color: rgb(16, 16, 16);
}

.wlc{
    width: auto;
    display: flex;
    align-items: center;
}

.wlctxt{
    margin-left: 2px;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.wlstar{
    height: 40px;
    margin-left: 5px;
}

.homelogo{
    
    height: 55px;
    margin-top: 2.5px;
    padding: 4px 10px;
    
}

.hcart{
    font-size: 30px;
    margin-left: 29vw;
    display: flex;
    align-items: center;
}

.ion{
    font-size: 35px;
    margin-right: 5px;
}

.pcard{
    display: flex;
    flex-direction: column;
}


.phead{
    display: flex;
    align-items: center;
    width: 82.5vw;
    height: 60px;
    background-color: rgb(33, 33, 33);
}

.cathead{
    height: 60px;
    width: 100%;
    background-color: rgb(21, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cathtxt{
    color: white;
    font-size: 35px;
}

.cati{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.ctxt{
    font-size: 30px;
    margin-left: 12px;
}

.c2{
    background-color: #FAEAB1;
}
.c1{
    background-color: #f4d29a;
}

.ctop{
    margin-top: 20px;
}

.c1:hover{
    background-color: #dcbb85;
}
.c2:hover{
    background-color: #e5d69e;
}

.ptxt{
    color: white;
    font-size: 35px;
}

.pnametxt{
    margin-left: 16vw;
}
.pcatxt{
    margin-left: 16vw
}
.pricetxt{
    margin-left: 8.5vw;
}
.padd{
    margin-left: 8vw;
}

.pitemlist{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height:574px; */
    height: 89vh;
}

.it{
    height: 9.88vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.it1{
    background-color: rgb(216, 216, 216);
}

.it2{
    background-color: rgb(236, 236, 236);
}

.cartb{
    font-size: 40px;
    margin-left: 71vw;

}

button{
    font-size: 33px;
    width: 30px;
}

.log{
    margin-left: 27vw;
    height: 65px;
    width: auto;
    background-color: #222;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

/* .cfoot{
    width: 98.9vw;
    height: 80px;
    background-color: #222;
} */