@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(30, 30, 30);
}

.content {
    z-index: -5px;
}

.wallet {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: rgba(241, 241, 241, 0.406);
    box-shadow: 0 0px 10px 3px #222;
}

.wtext {
    font-size: 53px;
    margin-left: 2px;

}

.whead {
    width: 100vw;
    height: 71px;
    background-color: rgb(255, 225, 0);
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ion-icon {
    font-size: 4.7vh;
    margin-top: .1vh;
    margin-left: 5.5vw;
} */

.wimg {
    height: 50px;
    margin-top: 8px;
    
}

.wcard {
    width: 50vw;
    margin-top: 50px;
    margin-left: 25vw;
    /* height: 485px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.cbal {
    display: flex;
    justify-content: space-between;
}


.cbaltxt {
    font-size: 37px;
    color: white;
    display: inline-block;
    margin-left: 2vw;
}

.cbalamt {
    font-size: 37px;
    color: rgb(255, 237, 71);
    display: inline-block;
    margin-right: 2vw;
}



.topup {
    margin-top: 10px;
    width: 100%;
    
    background-color: rgb(247, 250, 207);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tpamt {
    margin-top: 21px;
    width: 100%;
    height: auto;
    background-color: #FAEAB1;
    display: flex;
    align-items: center;
    
}

.uname {
    width: 100%;
    height: auto;
    background-color: #f4d29a;
    display: flex;
    align-items: center;
}

.pwd {
    width: 100%;
    height: auto;
    background-color: #FAEAB1;
    display: flex;
    align-items: center;
}

.tpbtn {
    margin: 38px 0px;
    padding: 10px 17px;
    
    background-color: rgb(55, 180, 46);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    color: azure;
}

.tpbtn:hover {
    transition: background-color .2s;
    background-color: rgb(0, 196, 13);
}

.tpbtn:active {
    /* transition: background-color .1s; */
    background-color: rgb(73, 220, 83);
}

.tptxt {
    margin-left: 3vw;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 72px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;

}

.toptxt {
    font-size: 40px;
    margin-left: 8px;
}

.rechg {
    width: 71px;
}

.spacenav {
    width: 100vw;
    height: 4.5vw;
    background-color: blue;
}

.line {
    width: 100%;
    height: 3px;
    background-color: rgb(30, 30, 30);
}

.txt {
    margin-left: 2.5vw;
    font-size: 30px;
}


.cur {
    
    margin-right: 14px;
    font-size: 35px;
}

input[type=number] {
    width: 20vw;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 10px;
    font-size: 23px;
}

input[type=number]::placeholder {
    color: rgb(124, 124, 124);
    font-size: 20px;
}

input[type=text] {
    width: 20vw;
    padding: 10px 20px;
    margin: 8px 6px;
    box-sizing: border-box;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 10px;
    font-size: 23px;
}

input[type=text]::placeholder {
    color: rgb(124, 124, 124);
    font-size: 20px;
}

.ptxt {
    margin-right: .15vw;
}

input[type=password] {
    width: 20vw;
    padding: 10px 20px;
    margin: 8px 6px;
    box-sizing: border-box;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 10px;
    font-size: 23px;
}

input[type=password]::placeholder {
    color: rgb(124, 124, 124);
    font-size: 20px;
}

.rupee {
    font-size: 37px;
    color: white;
    display: inline-block;
    margin-left: 23.5vw;
}

.psimg {
    height: 30px;
    
}

.incpass{
    background-color: rgb(255, 167, 60);
    height: 45px;
    width: 256px;
    margin-left:42vw;
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    visibility: hidden;
    
}

.symbox{
    display: flex;
    align-items: center;
}
.sb1{
    margin-left: 44px;
}
.sb2{
    margin-left: 91px;
}
.sb3{
    margin-left: 91px;
}

@media (max-width:480px) {
    .wimg {
        height: 48px;
    }
    .whead{
        margin-bottom: 100px;
    }
    .wcard{
        width: 86vw;
        margin-left: 7vw;
    }
    .cbaltxt{
        font-size: 32px;
    }
    .cbalamt{
        margin-right: 13px;
    }
    .rupee{
        margin-left: 15px;
    }
    .topup{
        margin-top: 5px;
    }
    .tptxt{
        height: 62px;
    }
    .txt{
        font-size: 23px
    }
    .rechg{
        width: 59px;
    }
    .toptxt{
        font-size: 37px;
    }
    .tpamt{
        margin-top: 12px;
    }
    .sb1{
        margin-left: 14px;
    }
    .sb2{
        margin-left: 49px;
    }
    .sb3{
        margin-left: 49px;
    }
    input[type=number]{
        font-size: 20px;
        width: 31vw;
    }
    input[type=text]{
        width: 31vw;
        font-size: 20px;
    }
    input[type=password]{
        width: 31vw;
        font-size: 20px;
    }
    .tpbtn{
        margin: 20px 0px;
    }
}